@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

html,body{
  font-family: 'Poppins', sans-serif;
}
*{
  padding: 0;
  margin: 0;
}

.header__style{
  background-color: #ffffff;
  box-shadow: 0px 0.3px 0.9px #00000012, 0px 1.6px 3.6px #0000001c;
}
.content__bar{
  background-color: #ffffff;
  box-shadow: 0px 0.3px 0.9px #00000012, 0px 1.6px 3.6px #0000001c;
  padding-top: 50px;
  padding-left: 40px;
  width: 80%;
  /* overflow-y: scroll;
  scroll-behavior: smooth; */

}
.content__bar h1,h2,h3,h4,h5,h6{
  color:#181818;
  font-weight: 500;
}
.content__bar h1{
  color:#181818;
  font-size: 32px;
  font-weight: 500;
}

.seco__layout{
  /* height:100vh; */
  padding-top:0px;
}
.left__bar{
  background:#E1E1E1;
  padding-top:20px;
  padding:10px;
}
.icon__style{
  color:#959292;
}
.side__bar{
  background: "#E1E1E1";
}